/* font-family: 'PT Sans', sans-serif; */

/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}

a{
    text-decoration: none;
}

/* fine reset */

:root {
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
  }


.container{
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: 100%;
}

img{
    width: 100%;
}

header{
    background-color: #0084fd;
    padding: 16px 0px;
}

h2{
    font-size: 3em;
    font-weight: 900;
}

h3{
    font-size: 2em;
    margin: 1em 0em;
    font-weight: 900;
}

h4{
    font-size: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.text-center{
    text-align: center;
}

.btn{
    display: inline-block;
    margin: 24px 0px;
    padding: 0.5em 2.5em;
    border-radius: 64px;
    color: #fff;
    letter-spacing: 0.1em;
    text-transform: lowercase;
}
/* menu responsive */
.container.responsive{
    display: flex;
    flex-wrap: wrap;
}

.container.responsive div:first-child, .container.responsive div:nth-child(2){
    width: 50%;
}

.container.responsive li{
    margin: 16px 0px;
}

.menu-responsive-container {
    width: 100%;
    display: none;
}

.logo-container img{
    max-width: 100px;

}
.burger-menu, .logo-container{
    display: flex;
    align-items: center;
}

.flex-end{
    justify-content: end;
}

.burger-menu{
    font-size: 24px;
    color: #fff;
}



section{
    padding: 10vw 6vw;
}
/* card */
.card{
    background-color: #b5ddff;
    padding: 10vw;
    border-radius: 24px;
    font-size: 1em;
    line-height: 1.5em;
    color: #5b6e7f;
    margin-top: 36px;
    overflow: hidden;
}

.demo .card h3{
    font-size: 2em;
    color: #0084fd;
    margin-bottom: 1em;
    font-weight: 900;
}

.demo .card .btn{
    display: inline-block;
    margin: 24px 0px;
    padding: 8px 64px;
    border-radius: 64px;
    background-color: #0084fd;
    color: #fff;
    text-transform: capitalize;
}

.demo .card .btn::before{
    font-family: "Font Awesome 5 Brands"; content: "\f179";
    margin-right: 8px;
}

.card i{
    font-size: 4em;
    margin-bottom: 0.3em;
    display: block;
    color: #0084fd;
}

.demo .card img{
    position: relative;
    margin-bottom:-12vw;
}

/* sezione planning */

section.planning{
    background-color: #9792e3;
    padding: 10vw;
    line-height: 1.5em;
    color: #fff;
}

section.planning h3{
    font-size: 2em;
    color: #fff;
    margin: 1em 0em;
    font-weight: 900;
}

.white-bkg{
    background-color: #fff;
}

section.planning .card h3{
   color: #000;
}

section.planning .card span{
    font-style: italic;
}

section.planning .card .icon-container{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #9792e3;
    margin: 24px auto 0px auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

section.planning .card .icon-container i{
    margin: 0px;
    font-size: 1.8em;
    color: #000;
}

/* testimonials */

section.testimonial .card{
    background-color: #9792e3;
    color: #fff;
}

section.testimonial .card h4{
    font-size: 1.3em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 2em;
}

section.testimonial .img-container{
    width: 10em;
    height: 10em;
    margin: 0px auto 24px auto;
}

.testimonial .img-container img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5em;
}

.testimonial blockquote{
    position: relative;
}

.testimonial blockquote::before{
    content: '“';
    font-size: 5em;
    position: absolute;
    margin-right: 8px;
    margin-left: -36px;
    top: 24px;
}

.testimonial blockquote::after{
    content: '”';
    font-size: 5em;
    position: absolute;
    bottom: -20px;
    margin-left: 8px;
}

/* benefit */

.purple-bkg{
    background-color: #9792e3;
}

.benefit h3{
    color: #fff;
}

.card h2{
    font-size: 3em;
    font-weight: 900;
    color: #9792e3;
}

.card h3{
    color: #9792e3;
}